<a href="https://colab.research.google.com/github/DebkumarDe/Fish_species_prediction/blob/main/Fish_species_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
import pandas as pd

In [ ]:
#2
fish=pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Fish.csv')

In [ ]:
fish.head(100)

In [ ]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [ ]:
fish.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [ ]:
fish.shape

(159, 8)

In [ ]:
fish.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [ ]:
#3
y=fish['Species']
X=fish[['Category', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3']]

In [ ]:
#4
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=23)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((119, 7), (40, 7), (119,), (40,))

In [ ]:
#5
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier()

In [ ]:
#6
model.fit(X_train,y_train)

KNeighborsClassifier()

In [ ]:
#7
model.predict(X_test)

array(['Smelt', 'Bream', 'Perch', 'Bream', 'Bream', 'Bream', 'Perch',
       'Perch', 'Bream', 'Perch', 'Perch', 'Bream', 'Perch', 'Perch',
       'Perch', 'Perch', 'Perch', 'Perch', 'Bream', 'Bream', 'Parkki',
       'Bream', 'Bream', 'Perch', 'Perch', 'Bream', 'Parkki', 'Bream',
       'Perch', 'Perch', 'Perch', 'Perch', 'Bream', 'Perch', 'Perch',
       'Perch', 'Bream', 'Smelt', 'Perch', 'Perch'], dtype=object)

In [ ]:
y_pred=model.predict(X_test)

In [ ]:
#8
from sklearn.metrics import classification_report,accuracy_score

In [ ]:
accuracy_score(y_test,y_pred)

0.525

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       Bream       0.57      0.89      0.70         9
      Parkki       0.00      0.00      0.00         4
       Perch       0.50      0.79      0.61        14
        Pike       0.00      0.00      0.00         6
       Roach       0.00      0.00      0.00         4
       Smelt       1.00      1.00      1.00         2
   Whitefish       0.00      0.00      0.00         1

    accuracy                           0.53        40
   macro avg       0.30      0.38      0.33        40
weighted avg       0.35      0.53      0.42        40

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))